.body {
  position: fixed;
  z-index: 99;
  top: -10dvh;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  max-width: 350px;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  border-radius: 20px;
  border: 2px solid var(--border);
  gap: 20px;
  animation: in 8s;
}
.conditionTrue {
  background: #133913;
  background: linear-gradient(
    90deg,
    rgba(19, 57, 19, 1) 0%,
    rgba(13, 13, 13, 1) 100%
  );
}
.conditionFalse {
  background: #391313;
  background: linear-gradient(
    90deg,
    rgba(57, 19, 19, 1) 0%,
    rgba(13, 13, 13, 1) 100%
  );
}
.body img {
  width: 25px;
}

@keyframes in {
  0% {
    top: -10dvh;
  }
  10% {
    top: 10dvh;
  }
  90% {
    top: 10dvh;
  }
  100% {
    top: -10dvh;
  }
}
