.body {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 35px;
}
.category {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 10px;
  width: 100%;
  height: fit-content;
  min-height: 100px;
}
.parent {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 20px;
  flex-wrap: wrap;
}
.item {
  width: 100%;
  max-width: 240px;
  background: #262626;
  background: linear-gradient(
    180deg,
    rgba(38, 38, 38, 0.5) 0%,
    rgba(13, 13, 13, 0.5) 100%
  );
  padding: 12px;
  border-radius: 10px;
  border: 1px solid var(--border);
  cursor: default;
}
.item span {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.item img {
  height: 30px;
}
.deleteButton {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 5px;
  border: none;
  padding: 5px;
  cursor: pointer;
}
.deleteButton:hover {
  background-color: var(--bg-main);
}
.deleteButton img {
  height: 100%;
}
