* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #121212;
  --secondary: #ffffff;
  --third: #ff7517;
  --fourth: #5a5a5a;
  --fifth: #292929;
}

h1 {
  font-size: 64px;
  color: var(--secondary);
  font-weight: 700;
  font-family: var(--montserrat), sans-serif;
}
h2 {
  font-size: 48px;
  color: var(--secondary);
  font-weight: 600;
  font-family: var(--montserrat), sans-serif;
}
h3 {
  font-size: 40px;
  color: var(--secondary);
  font-weight: 600;
  font-family: var(--montserrat), sans-serif;
}
h4 {
  font-size: 32px;
  color: var(--secondary);
  font-weight: 600;
  font-family: var(--montserrat), sans-serif;
}
h5 {
  font-size: 20px;
  color: var(--secondary);
  font-weight: 600;
  font-family: var(--montserrat), sans-serif;
}
h6 {
  font-size: 16px;
  color: var(--secondary);
  font-weight: 500;
  font-family: var(--montserrat), sans-serif;
}
p {
  font-size: 16px;
  font-weight: 400;
  color: var(--secondary);
  font-family: var(--montserrat), sans-serif;
}

.container {
  width: 100%;
  height: fit-content;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.container-main {
  background-color: var(--primary);
}
.container-dashboard {
  background-color: var(--fifth);
}
