* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-outfit);
}
:root {
  --bg-main: #f2f2f2;
  --bg-second: hsla(0, 0%, 95%, 0.5);
  --bg-third: #bfbfbf;
  --bg-fourth: #dadada;
  --border: #404040;
  --text-main: #1a1a1a;
  --text-second: #404040;
  --red: hsl(0, 50%, 50%);
}
body {
  scroll-behavior: smooth;
}

/* ______________________________________________________ */
.homepage {
  width: 100%;
  min-height: 100dvh;
  height: fit-content;
  background: url(/bg.jpg);
  background-size: contain;
  background-position: center;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}
.dashboard {
  width: 100%;
}
/* ______________________________________________________ */

h1 {
  font-weight: 500;
  font-size: clamp(28px, 6vw, 64px);
  color: var(--text-main);
}

h2 {
  font-weight: 400;
  font-size: clamp(24px, 5vw, 48px);
  color: var(--text-main);
}

h3 {
  font-weight: 500;
  font-size: clamp(20px, 4vw, 40px);
  color: var(--text-main);
}

h4 {
  font-weight: 500;
  font-size: clamp(18px, 3.5vw, 32px);
  color: var(--text-main);
}

h5 {
  font-weight: 500;
  font-size: clamp(16px, 2.5vw, 20px);
  color: var(--text-main);
}

h6 {
  font-weight: 500;
  font-size: clamp(14px, 2vw, 16px);
  color: var(--text-main);
}

p {
  font-weight: 400;
  font-size: clamp(12px, 2vw, 16px);
  color: var(--text-main);
}

.p-second {
  color: var(--text-second);
  font-size: 16px;
  font-weight: 300;
}
.p-error {
  font-size: 16px;
  font-weight: 300;
  color: var(--red);
}

.bg-template {
  background-color: var(--bg-second);
  border: 1px solid var(--bg-main);
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
}

.btn-main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: var(--text-main);
  border: none;
  color: var(--bg-main);
  border-radius: 999px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid transparent;
}
.btn-main img {
  width: 20px;
}
.btn-main:hover {
  opacity: 0.75;
}
.btn-main:active {
  opacity: 0.5;
}

.btn-second {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: transparent;
  border: 2px solid var(--text-second);
  color: var(--text-main);
  border-radius: 999px;
  padding: 10px 20px;
  cursor: pointer;
}
.btn-second img {
  width: 20px;
}
.btn-second:hover {
  opacity: 0.75;
}
.btn-second:active {
  opacity: 0.5;
}

.btn-disable {
  opacity: 0.5;
  pointer-events: none;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input,
textarea,
select {
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--bg-fourth);
  border: 1px solid transparent;
  width: 100%;
  resize: none;
  color: var(--text-main);
}
textarea {
  height: 100px;
}
input:focus,
textarea:focus {
  outline: 1px solid var(--border);
}

.inputFile {
  border: 2px dashed var(--border);
  position: relative;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.inputFile h6,
.inputFile p {
  opacity: 0.5;
}
input[type="file"] {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 1;
}

.input-warning {
  border: 2px solid var(--red);
}
