.left,
.right {
  width: 100%;
  height: calc(100dvh - 40px);
  overflow: auto;
  scrollbar-width: thin;
  transition: 1s;
}
.left {
  padding-right: 10px;
}
.right {
  padding: 20px;
  border-radius: 5px;
  border: 1px solid var(--fourth);
}

.dbproject_hide {
  animation: hide 0.3s forwards;
}
.dbproject_show {
  animation: show 0.3s forwards;
}
@keyframes hide {
  0% {
    width: 100%;
    opacity: 1;
    pointer-events: all;
  }
  100% {
    width: 0;
    opacity: 0;
    pointer-events: none;
    display: none;
  }
}
@keyframes show {
  0% {
    width: 0;
    opacity: 0;
    pointer-events: none;
  }
  100% {
    width: 100%;
    opacity: 1;
    pointer-events: all;
  }
}

/* project____________________________ */
.dbproject_left {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-content: start;
}
.item_dbproject {
  border: 1px solid var(--fourth);
  border-radius: 5px;
  width: 100%;
  height: 175px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  padding: 10px;
}
.item_dbproject:hover {
  border: 1px solid var(--secondary);
}
.item_dbproject:active {
  transform: scale(0.98);
}
.item_dbproject_status {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  width: 100%;
}
.item_dbproject_image {
  height: 50px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item_dbproject_image img {
  height: 50px;
}

/* ______________ */
.dbproject_right {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 20px;
}
.dbproject_null {
  width: 100%;
  height: calc(100dvh - 40px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.button_action {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
}

@media (max-width: 1000px) {
  .dbproject_left {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 800px) {
  .dbproject_float {
    position: absolute;
    background-color: var(--fifth);
    width: calc(100% - 135px) !important;
  }
}
@media (max-width: 500px) {
  .dbproject_float {
    left: 0;
    top: 0;
    width: 100% !important;
    border: none;
    padding: 10px;
  }
}

/* Skill______________________________ */
.db_skill {
  width: 100%;
  min-height: calc(100dvh - 40px);
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 20px;
}
.db_skill_add {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 10px;
  width: 100%;
}
.db_skill_add_input {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
}
@media (max-width: 650px) {
  .db_skill_add_input {
    flex-direction: column;
  }
  .db_skill_add_input button {
    width: 100%;
  }
}
/* ___________________________________ */
