.content {
  width: 100%;
  min-height: 80dvh;
  height: fit-content;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.item {
  cursor: default;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 15px;
  padding: 15px;
  border-radius: 20px;
  background: rgba(51, 51, 51, 6.3);
  background: linear-gradient(
    180deg,
    rgba(51, 51, 51, 0.5) 0%,
    rgba(13, 13, 13, 0.5) 100%
  );
  border: 1px solid var(--border);
  transition: 0.3s;
}
.item:hover {
  transform: scale(1.01);
  transition: 0.3s;
}
.item a {
  color: var(--primary);
  text-decoration: none;
  font-size: 16px;
}
.item a:hover {
  text-decoration: underline;
}
.item img {
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 5px;
}
.itemAction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.deleteButton {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 5px;
  border: none;
  padding: 5px;
  cursor: pointer;
}
.deleteButton:hover {
  background-color: var(--bg-main);
}
.deleteButton img {
  height: 100%;
}
