.container_dashboard {
  width: 100%;
  height: fit-content;
  min-height: 100dvh;
  padding: 20px;
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 20px;
}
.dashboard_content {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: start;
  align-items: start;
  padding-left: 290px;
}

@media (max-width: 1200px) {
  .dashboard_content {
    padding-left: 95px;
  }
}
@media (max-width: 500px) {
  .dashboard_content {
    padding-left: 0;
  }
  .container_dashboard {
    padding: 10px;
  }
}
