.container_dashboard {
  width: 100%;
  height: fit-content;
  min-height: 100dvh;
  padding: 20px;
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 20px;
}
.dashboard_content {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: start;
  align-items: start;
}
