.body {
  width: 100%;
  max-width: 1440px;
  height: fit-content;
  padding: 20px;
}

.hero {
  width: 100%;
  height: calc(100dvh - 40px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.navbarList {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  border-radius: 100px;
  padding: 5px;
  padding-left: 20px;
}
.navbarList a {
  font-size: 16px;
  text-decoration: none;
  color: var(--text-main);
  font-weight: 400;
}
.navbarList a:hover {
  text-decoration: underline;
}

.heroFooter {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.heroFooter a {
  text-decoration: none;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.heroFooter span {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.heroContent {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
}
.heroContentProfil {
  border-radius: 100%;
  width: 100px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
}

.skill {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  gap: 50px;
  text-align: center;
}
.skill h1 {
  color: var(--bg-third);
}
.skill h1 span {
  color: var(--text-second);
}
.skillList {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 20px;
  position: relative;
}
.skillList img {
  width: 60px;
}
.skillItem {
  position: relative;
  transition: 0.3s;
}
.skillItem:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
.skillName {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -40px;
  padding: 5px 10px;
  border-radius: 10px;
  display: none;
  font-size: 12px;
}
.skillItem:hover .skillName {
  display: block;
}
