.body {
  width: 100%;
  max-width: 1440px;
  height: fit-content;
  padding: 20px;
}

.hero {
  width: 100%;
  height: calc(100dvh - 40px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.navbarList {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  border-radius: 100px;
  padding: 5px;
  padding-left: 20px;
}
.navbarList a {
  font-size: 16px;
  text-decoration: none;
  color: var(--text-main);
  font-weight: 400;
}
.navbarList a:hover {
  text-decoration: underline;
}

.heroFooter {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.heroFooter a {
  text-decoration: none;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.heroFooter span {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.heroContent {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
}
.heroContentProfil {
  border-radius: 100%;
  width: 100px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
}

.skill {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  gap: 50px;
  text-align: center;
}
.skill h1 {
  color: var(--bg-third);
}
.skill h1 span {
  color: var(--text-second);
}
.skillList {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 20px;
  position: relative;
  flex-wrap: wrap;
}
.skillList img {
  width: 60px;
}
.skillItem {
  position: relative;
  transition: 0.3s;
}
.skillItem:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
.skillName {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -40px;
  padding: 5px 10px;
  border-radius: 10px;
  display: none;
  font-size: 12px;
}
.skillItem:hover .skillName {
  display: block;
}

.project {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 50px 0;
  text-align: center;
  gap: 20px;
}
.project span {
  width: 100%;
}
.projectImage {
  width: 100%;
  min-width: 800px;
  background-color: var(--bg-main);
  border-radius: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 10px;
}
.projectImage img:first-child {
  height: 10px;
  margin-left: 5px;
}
.projectImage img:last-child {
  width: 100%;
  border-radius: 10px;
}
.projectList {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}
.projectItem {
  height: 380px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  padding: 20px;
  text-align: left;
  border-radius: 20px;
  transition: 0.3s;
  border: 3px solid var(--bg-main);
  cursor: default;
}
.projectItem:hover {
  transform: scale(1.03);
  transition: 0.3s;
}
.projectItem button {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-main);
  border-radius: 100%;
  cursor: pointer;
  padding: 10px;
  border: none;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.footer span {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footerList {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.footerList a {
  text-decoration: none;
  font-size: 16px;
  color: var(--text-main);
  font-weight: 500;
}
.footerList a:hover {
  text-decoration: underline;
}

@media (max-width: 850px) {
  .footer {
    gap: 10px;
  }
  .footer span {
    flex-direction: column;
    gap: 10px;
  }
  .footerList {
    flex-wrap: wrap;
  }
}
@media (max-width: 550px) {
  .navbarList {
    padding-left: 5px;
  }
  .navbarList a {
    display: none;
  }
}
